<h2 align="center">Contact</h2>
<div class="container">
    <div class="row">
        <div align="center">
            <p>Name:<%= @comment.name %></p>
            <p>email: <%= @comment.email %></p>
            <p>Comment: <%= @comment.comments %></p>
        </div>
    </div>
</div>